<!-- Shadowbox Setup -->
<meta property="og:locale" content="{{ site.locale }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | strip_html }}">{% endif %}
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<meta property="og:site_name" content="{{ site.title }}">

<!-- [Shadowbox setup]-->
<link rel="stylesheet" type="text/css" href="{{ site.url }}/js/plugins/shadowbox-3.0.3/shadowbox.css">
<script type="text/javascript" src="{{ site.url }}/js/plugins/shadowbox-3.0.3/shadowbox.js"></script>
<script type="text/javascript">
Shadowbox.init({
  language: 'en',
  displayCounter: false,
  overlayColor: "#1a1a1a",
overlayOpacity:	1,
initialHeight:	80,
initialWidth:	200,
});
</script>
